/* .category{
    position: relative;
    top:3vw;
}
.category h1{
    font-size: 1.2vw;
    font-weight: 700;
    

    
    
}

.category button{
    position: relative;
    font-size: 1vw;

}

.categories{
    position: relative;
    top: 6vw;
}
.categories h1{
    font-size: 1.2vw;
    font-weight: 700;
    
}


.categories h2{
    position: relative;
    font-size: 14px;
} */
/* .price{
    position: relative;
    top: 3.8vw;
   
}
.price h1{
    font-size: 1.2vw;
    font-weight: 700;
    
}

.price h2{
    position: relative;
    font-size: 14px;
}

.brands{
    position: relative;
    top: 5vw;
    width: 230px;
  
}
.brands h1{
    font-size: 1.2vw;
    font-weight: 700;
} */
/* .On{
  text-decoration: underline;
  transform: translateX(15px);
}

.Off{
  color:black;
}

.On1{
    text-decoration: underline;
  transform: translateX(15px);
} */